@import url("https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");
body {
  font-family: Helvetica Neue, Arial, sans-serif;
  text-align: left;
}

h1 {
  font-weight: 200;
  font-size: 3em;
  margin: 0 0 0.1em 0;
}

.wrapper{
  margin-left: 30px;
  margin-right: 30px;
}

.per::after {
  content: " %";
}

.min:after {
  content: " min";
}